body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
       font-size: 14px;
}
body {
      color: silver;
}
body {
      font-weight: bold;
}
body {
      text-decoration: underline;
}