body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
       font-size: 14px;
}
body {
      color: rgb(11,12,56);;
}
body {
      font-weight: normal;
}
body {
      text-decoration: line-through;
}